header {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3rem;
  h1, p { text-align: center; }
  h1 {
    font-size: 2.5rem;
    @media (min-width: 768px) { font-size: 3.5rem; }
  }
  p {
    font-size: 1.4rem;
    @media (min-width: 768px) { font-size: 2rem; }
  }
  img {
    display: block;
    padding-top: 2rem;
    margin: 0 auto;
    width: 5rem;
    @media (min-width: 768px) { width: 6rem; }
  }
}
